[submodule "deps/louvain-community"]
	path = deps/louvain-community
	url = https://github.com/meelgroup/louvain-community.git
[submodule "deps/cryptominisat"]
	path = deps/cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "deps/arjun"]
	path = deps/arjun
	url = https://github.com/meelgroup/arjun.git
[submodule "deps/approxmc"]
	path = deps/approxmc
	url = https://github.com/meelgroup/approxmc.git
	branch = release/4.2.0
[submodule "deps/unigen"]
	path = deps/unigen
	url = https://github.com/meelgroup/unigen.git
	branch = master
[submodule "utils/baseline/deps/GPMC"]
	path = utils/baseline/deps/GPMC
	url = https://git.trs.css.i.nagoya-u.ac.jp/k-hasimt/GPMC.git
[submodule "utils/baseline/deps/cryptominisat"]
	path = utils/baseline/deps/cryptominisat
	url = https://github.com/arijitsh/cryptominisat/
	branch = allsol

[submodule "deps/cadical"]
	path = deps/cadical
	url = https://github.com/meelgroup/cadical.git
[submodule "deps/cadiback"]
	path = deps/cadiback
	url = https://github.com/meelgroup/cadiback.git
[submodule "deps/sbva"]
	path = deps/sbva
	url = https://github.com/meelgroup/SBVA.git
